<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auth</title>

    <link rel="stylesheet" href="~/css/pico.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="container">
    <nav>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Auth</a>
            </li>
        </ul>

        <partial name="_LoginPartial" />
    </nav>
    
    <main>
        @RenderBody()
    </main>
    
    <footer>
        &copy; 2023 - Auth - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
